COMPOSE_PROJECT_NAME=fd-headless-wp

# Domains
FRONTEND_DOMAIN=www.example.com
ADMIN_DOMAIN=admin.example.com
WS_DOMAIN=ws.example.com
PUBLIC_SCHEME=http
WEBSOCKET_PUBLIC_SCHEME=ws

# Public ports
HTTP_PORT=80
HTTPS_ENABLED=false
HTTPS_PORT=443

# Images
# 交付时优先使用阿里云 ACR。
# 最稳妥的方式不是用 latest，而是固定到某一次构建出来的具体 tag。
# 基础镜像也建议先同步到你自己的 ACR，这样空白服务器安装时就不依赖 Docker Hub。
MARIADB_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-mariadb:10.11
REDIS_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-redis:7
WORDPRESS_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-wordpress:6.8.3-php8.2-apache
FRONTEND_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/fd-frontend:CHANGE_ME_FRONTEND_TAG
WEBSOCKET_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/fd-websocket:CHANGE_ME_WEBSOCKET_TAG
NGINX_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-nginx:1.27-alpine
CERTBOT_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-certbot:latest

# Database
MYSQL_DATABASE=fd
MYSQL_USER=fd
MYSQL_PASSWORD=CHANGE_ME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_DB_ROOT_PASSWORD
WORDPRESS_TABLE_PREFIX=fd_

# App secrets
JWT_SECRET=CHANGE_ME_JWT_SECRET
PUSH_SECRET=CHANGE_ME_PUSH_SECRET
REVALIDATE_SECRET=CHANGE_ME_REVALIDATE_SECRET

# HTTPS / Let's Encrypt
LETSENCRYPT_EMAIL=admin@example.com
LETSENCRYPT_STAGING=false

# WordPress release assets
WORDPRESS_FETCH_RELEASE_ASSETS=false
FORCE_WORDPRESS_ASSET_FETCH=false
WORDPRESS_RELEASE_OWNER=FutureDecade
FD_THEME_RELEASE_TAG=v1.0.5
FD_ADMIN_UI_RELEASE_TAG=v1.3.1
FD_MEMBER_RELEASE_TAG=v1.0.1
FD_PAYMENT_RELEASE_TAG=v1.0.0
FD_COMMERCE_RELEASE_TAG=v1.0.0
FD_CONTENT_TYPES_RELEASE_TAG=v0.1.0
FD_WEBSOCKET_PUSH_RELEASE_TAG=v1.0.0
WPGRAPHQL_JWT_AUTH_RELEASE_TAG=v0.7.2
WPGRAPHQL_TAX_QUERY_REF=v0.2.0
WPCLI_IMAGE=crpi-8y82lbqoc1haiday.cn-beijing.personal.cr.aliyuncs.com/futuredecade/runtime-wpcli:cli-2.12.0
WORDPRESS_RUN_INIT=false
WORDPRESS_TITLE="FD Headless WP"
WORDPRESS_ADMIN_USER=fdadmin
WORDPRESS_ADMIN_PASSWORD=CHANGE_ME_WP_ADMIN_PASSWORD
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_ACTIVATE_THEME=true
WORDPRESS_ACTIVATE_CORE_PLUGINS=true
WORDPRESS_INSTALL_WPGRAPHQL=true
WORDPRESS_WPGRAPHQL_SOURCE=wp-graphql
WORDPRESS_INSTALL_REDIS_CACHE=true
WORDPRESS_REDIS_CACHE_SOURCE=redis-cache
WORDPRESS_ENABLE_REDIS_OBJECT_CACHE=true
WORDPRESS_PERMALINK_STRUCTURE=/%postname%/

# Optional integrations
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
